<a href="https://colab.research.google.com/github/eftekhar-hossain/SKBI_Training/blob/main/Session_4.1_(Python_Strings_and_Functions).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center> <h1> <u> <font color='red'> Training on AI and ML with Python </font> </u> </h1> </center>

#Session-4.1: String Handling and Function 

### Objective:  
 1. *Get familiar with various operations and methods of python strings.*
 2. *Get familiar with user defined functions in pyhton.*

#Strings

A string is a sequence of characters. You can access the characters one at a time with the bracket operator:

In [ ]:
fruit = 'banana' 
letter = fruit[1]
print(letter)

a

The second statement extracts the character at index position 1 from the fruit
variable and assigns it to the ***letter*** variable.

##Getting the length of a string using len

*len* is a built-in function that returns the number of characters in a string:

In [ ]:
fruit = 'banana'
len(fruit)

6

In [ ]:
#To get the last letter of a string, you might be tempted to try something like this:

length = len(fruit)
last = fruit[length]
print(last)

The reason for the ***IndexError*** is that there is no letter in ***“banana”*** with the index 6. Since we started counting at zero, the six letters are numbered 0 to 5. To get the last character, you have to subtract 1 from length:

In [ ]:
last = fruit[length-1]
print(last)

Alternatively, you can use negative indices, which count backward from the end of the string. The expression ***fruit[-1]*** yields the last letter, ***fruit[-2]*** yields the second to last, and so on.

##Traversal through a string with a loop

A lot of computations involve processing a string one character at a time. Often
they start at the beginning, select each character in turn, do something to it, and continue until the end. This pattern of processing is called a *`traversal`*. One way to write a traversal is with a *`while`* loop:

In [ ]:
fruit = 'banana'


index = 0
while index < len(fruit):
  letter = fruit[index]
  print(letter)
  index = index + 1

b
a
n
a
n
a

This loop traverses the string and displays each letter on a line by itself. The
loop condition is *`index < len(fruit)`*, so when ***index*** is equal to the length of
the string, the condition is ***false***, and the body of the loop is not executed. The
last character accessed is the one with the index ***len(fruit)-1***, which is the last
character in the string.

In [ ]:
# Another way to write a traversal is with a for loop:

for char in fruit:
  print(char)

b
a
n
a
n
a

In [ ]:
sent = "Another way to write"
for char in sent:
  print(char)

Each time through the loop, the next character in the string is assigned to the
variable char. The loop continues until no characters are left.

##String slices
A segment of a string is called a slice. Selecting a slice is similar to selecting a character:

The operator returns the part of the string from the **“n-th”** character to the **“m-th”** character, including the first but excluding the last.
If you omit the first index (before the colon), the slice starts at the beginning of the string. If you omit the second index, the slice goes to the end of the string:

In [ ]:
s = 'Monty Python'
print(s[0:5])
print(s[6:12])

Monty
Python

In [ ]:
fruit = 'banana'
print(fruit[:3])

print(fruit[3:])

ban
ana
n

If the first index is greater than or equal to the second the result is an empty string, represented by two quotation marks:

An empty string contains no characters and has length 0, but other than that, it
is the same as any other string.

In [ ]:
######
fruit = 'banana'
fruit[3:3]

''

In [ ]:
# Exercise 2: Given that fruit is a string, what does fruit[:] mean?
fruit[:]

'banana'

##Strings are immutable

In [ ]:
greeting = 'Hello, world!'
greeting[0] = 'J'

**`TypeError: 'str'`** object does not support item assignment
The **`“object”`** in this case is the string and the **`“item”`** is the character you tried to assign. For now, an object is the same thing as a value, but we will refine that definition later. An item is one of the values in a sequence.

The reason for the error is that strings are ***immutable***, which means you can’t
change an existing string. The best you can do is create a new string that is a
variation on the original:

In [ ]:
# String Concatenation
greeting = 'Hello, world!'
new_greeting = 'J' + greeting[1:]
print(new_greeting)

Jello, world!

This example concatenates a new first letter onto a slice of greeting. It has no
effect on the original string.

##Looping and counting
The following program counts the number of times the letter “a” appears in a
string:

In [ ]:
word = 'banana'
count = 0
for letter in word:
  if letter == 'a':
    count = count + 1
print(count)

3

This program demonstrates another pattern of computation called a **`counter`**. The
variable count is initialized to 0 and then incremented each time an “a” is found.
When the loop exits, count contains the result: the total number of a’s.

## The in operator
The word in is a boolean operator that takes two strings and returns True if the
first appears as a substring in the second:

In [ ]:
print('a' in 'banana')
print('seed' in 'banana')

## String methods

**Strings are an example of Python objects**. An object contains both data (the actual
string itself) and methods, which are effectively functions that are built into the
object and are available to any instance of the object.
Python has a function called **`dir`** which lists the methods available for an object.
The type function shows the type of an object and the dir function shows the
available methods.

In [ ]:
a = 'Hello world'
type(a)

dir(a)

In [ ]:
w = "Hello"

w.isalpha()

w.find('l')

#w.count('l')

2

In [ ]:
help(str.capitalize)

Help on method_descriptor:

capitalize(self, /)
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

Calling a method is similar to calling a function (it takes arguments and returnsa value) but the syntax is different. ***We call a method by appending the method name to the variable name using the period as a delimiter.***

For example, the method *`upper`* takes a string and returns a new string with all uppercase letters:
Instead of the function syntax upper(word), it uses the method syntax
**`word.upper()`**.

In [ ]:
word = 'banana'
new_word = word.upper()
print(new_word)

BANANA

This form of dot notation specifies the name of the method, **`upper`**, and the name of the string to apply the method to, **`word`**. The empty parentheses indicate that this method takes no argument.
A method call is called an **`invocation`** ; in this case, we would say that we are invoking **`upper`** on the word.

For example, there is a string method named **`find`** that searches for the position of one string within another:

In [ ]:
word = 'banana'
index = word.find('a')
print(index)

1

In this example, we invoke **`find`** on word and pass the letter we are looking for as a parameter. The find method can find substrings as well as characters:

In [ ]:
word = 'banana'

print(word.find('na'))

#It can take as a second argument the index where it should start:

print(word.find('na', 3))

2
4

One common task is to remove white space (spaces, tabs, or newlines) from the
beginning and end of a string using the strip method:

In [ ]:
line = '       Here we go '

# remove extra space from both sides 
print(line.strip())

# remove extra space from left sides 
print(line.lstrip())

# remove extra space from right sides 
print(line.rstrip())

Here we go
Here we go
       Here we go

In [ ]:
#Some methods such as startswith return boolean values.
line = 'Have a nice day'
print(line.startswith('Have'))
print(line.startswith('h'))

True
False

In [ ]:
# You will note that startswith requires case to match, so sometimes we take a line
# and map it all to lowercase before we do any checking using the lower method.

line = 'Have a nice day'
line= line.lower()
line.startswith('h')

True

In [ ]:
line.lower().startswith('h')

True

In the last example, the method **`lower`** is called and then we use **`startswith`** to see if the resulting lowercase string starts with the letter **`“h”`**. As long as we are careful with the order, we can make multiple method calls in a single expression.

## Parsing strings

Often, we want to look into a string and find a substring. For example if we were presented a series of lines formatted as follows:

`From stephen.marquard@ uct.ac.za Sat Jan 5 09:14:16 2008`

and we wanted to pull out only the second half of the address **`(i.e., uct.ac.za)`**
from each line, we can do this by using the **`find`** method and **`string slicing`**.

First, we will find the position of the **`at-sign`** in the string. Then we will find the
position of the first space after the **`at-sign`**. And then we will use string slicing to
extract the portion of the string which we are looking for.

In [ ]:
data = 'From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008',
        
atpos = data.find('@')
print(atpos)

sppos = data.find(' ',atpos)
print(sppos)

host = data[atpos+1:sppos]
print(host)

21
31
uct.ac.za

In [ ]:
## Split related to list
# data = 'From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008'
# d = data.split()

w  = 'Apple Banana Tom'
t = w.split()
print(t)

a = 't'.join(t)

['Apple', 'Banana', 'Tom']

'AppletBananatTom'

In [ ]:
w  = 'Apple'
a = w.replace('A','b')
a

'bpple'

In [ ]:
help(str.replace)

We use a version of the find method which allows us to specify a position in
the string where we want find to start looking. When we slice, we extract the
characters from “one beyond the at-sign through up to but not including the space
character”.

#Functions

**Why functions?**

It may not be clear why it is worth the trouble to divide a program into functions.

There are several reasons:





*   Creating a new function gives you an opportunity to name a group of statements, which makes your program easier to read, understand, and debug.
*   Functions can make a program smaller by eliminating repetitive code. Later,
if you make a change, you only have to make it in one place.
*   Dividing a long program into functions allows you to debug the parts one at
a time and then assemble them into a working whole.

*   Well-designed functions are often useful for many programs. Once you write
and debug one, you can reuse it.

**Parameters and arguments**


Some of the built-in functions we have seen require arguments. For example, when
you call `math.sin` you pass a number as an argument. Some functions take more
than one argument: `math.pow `takes two, the base and the exponent.

Inside the function, the arguments are assigned to variables called **`parameters`**.
Here is an example of a user-defined function that takes an argument:

In [ ]:
## argument without return value

# void function ---- without return
# user defined function

def print_twice(bruce):
  print(bruce)
  print(bruce)

# This function assigns the argument to a parameter named bruce. 
# When the function is called, it prints the value of the parameter (whatever it is) twice.
# This function works with any value that can be printed.

In [ ]:
len(fruit)

In [ ]:
a = print_twice('Spam')    #   ------> arguments
#print_twice(17)

print(a)

Spam
Spam
None

In [ ]:
# You can also use a variable as an argument:
michael = 'Eric, the half a bee.'
print_twice(michael)

The name of the variable we pass as an argument (michael) has nothing to do
with the name of the parameter (bruce). It doesn’t matter what the value was
called back home (in the caller); here in print_twice, we call everybody bruce.

## Fruitful functions and void functions

Some of the functions we are using, such as the **`math function`**s, yield results;
for lack of a better name, I call them **`fruitful functions`**. Other functions, like
**`print_twice`**, perform an action but don’t return a value. They are called **`void functions`**.

When you call a fruitful function, you almost always want to do something with
the result; for example, you might assign it to a variable or use it as part of an
expression:

In [ ]:
import math
x = cos(radians)
golden = (sqrt(5) + 1) / 2

# When you call a function in interactive mode, Python displays the result:

math.sqrt(5)

But in a script, if you call a fruitful function and do not store the result of the function in a variable, the return value vanishes into the mist!

In [ ]:
math.sqrt(5)

# This script computes the square root of 5, but since it doesn’t store the result in
# a variable or display the result, it is not very useful.

In [ ]:

# Void functions might display something on the screen or have some other effect,
# but they don’t have a return value. If you try to assign the result to a variable,
# you get a special value called None.

result = print_twice('Bing')
print(result)

Bing
Bing
None

**To return a result from a function, we use the return statement in our function** 

For example, we could make a very simple function called **`addtwo`** that adds two
numbers together and returns a result.

In [ ]:
# arguments with return value

def addtwo(a, b):
  added = a + b
  return added

In [ ]:
x = addtwo(3, 5)
# print(x)

In [ ]:
# arguments with return value

def arith(a,b):
  added = a + b
  sub = a- b
  m = a*b
  return added, sub , m

In [ ]:
x,y,z = arith(3)

print(x)
print(y)
print(z)

In [ ]:
'''
Write a Python program to find the first appearance of the substring 'not' and 'poor' from a 
given string, if 'not' follows the 'poor', replace the whole 'not'...'poor' substring with 'good'. 
Return the resulting string. 

Sample String : 'The lyrics is not that poor!'
  'The lyrics is poor!'
Expected Result : 'The lyrics is good!'
  'The lyrics is poor!'

'''

s = 'The lyrics is not that poor!'

if 'not' in s and 'poor' in s:
  a = s.find('not')
  b = s.find('poor')

  if a<b:
    c = s[a:b+len('poor')]  
    t = s.replace(c,'good')
    print(t)  
  else:
    print(s)  
else:
  print(s)

The lyrics is good!

#Practice Excercises
1. Take the following Python code that stores a string:

      ```str = 'X-DSPAM-Confidence:0.8475' ```

  Use **find** and **string slicing** to extract the portion of the string after the colon character and then use the float function to convert the extracted string into a floating point number.

2. Write a Python program to get a string made of the first 2 and the last 2 chars from a given a string. If the string length is less than 2, return instead of the empty string.
  ```
  Sample String : 'w3resource'
  Expected Result : 'w3ce'
  Sample String : 'w3'
  Expected Result : 'w3w3'
  Sample String : ' w'
  Expected Result : Empty String
```

3.  Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing' then add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (use endswith)
  ```
  Sample String : 'abc'
  Expected Result : 'abcing'
  Sample String : 'string'
  Expected Result : 'stringly'
  ```
4. Write a Python program to find the first appearance of the substring 'not' and 'poor' from a given string, if 'not' follows the 'poor', replace the whole 'not'...'poor' substring with 'good'. Return the resulting string. 
  ```
  Sample String : 'The lyrics is not that poor!'
  'The lyrics is poor!'
  Expected Result : 'The lyrics is good!'
  'The lyrics is poor!'
  ```

5. Rewrite your pay computation (from Session-02) with time-and-a-half for overtime and create a function called computepay which takes two parameters
(hours and rate).
  ```
  Enter Hours: 45
  Enter Rate: 10
  Pay: 475.0
  ```

6. Rewrite the grade program from the previous Session(02) using
a function called computegrade that takes a score as its parameter and
returns a grade as a string.  
  ```
  Score Grade
  >= 0.9 A
  >= 0.8 B
  >= 0.7 C
  >= 0.6 D
  < 0.6 F
  ```
    ```
    Enter score: 0.95
    A
    Enter score: perfect
    Bad score
    Enter score: 10.0
    Bad score
    Enter score: 0.75
    C
    Enter score: 0.5
    ```

#References:
1. [Programiz.com](https://www.programiz.com/python-programming/operators)
2. [Python for Everybody-Coursera](https://www.coursera.org/learn/python)